.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}
label{
    flex: 1;
}
input{
    flex: 2;
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}
input:focus{
    border: 2px solid lightblue;
    outline: none;
}